<div class="header-container">
  <img class="logo" src="assets/images/logo.png" alt="Logo" routerLink="menu">
  <div class="translate-buttons">
    <button class="icon-button" (click)="changeLanguage('en')">
      <mat-icon svgIcon="en"></mat-icon>
    </button>
    <button class="icon-button" (click)="changeLanguage('ru')">
      <mat-icon svgIcon="ru"></mat-icon>
    </button>
    <button class="icon-button" (click)="changeLanguage('ge')">
      <mat-icon svgIcon="ge"></mat-icon>
    </button>
  </div>
</div>
