@import "styles/colors";

.page-container {
  display: flex;
  flex-direction: column;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $page-header-bg-color;
    padding: 20px;
    box-sizing: border-box;

    .logo {
      cursor: pointer;
      width: 80px;
    }

    .translate-buttons {
      display: flex;
      gap: 10px;

      .icon-button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
