<div class="page-container">
  <header class="page-header">
    <span class="header-title">Cafe Badu</span>
    <div class="translate-buttons">
      <button class="icon-button" (click)="changeLanguage('en')">
        <mat-icon svgIcon="en"></mat-icon>
      </button>
      <button class="icon-button" (click)="changeLanguage('ru')">
        <mat-icon svgIcon="ru"></mat-icon>
      </button>
      <button class="icon-button" (click)="changeLanguage('ge')">
        <mat-icon svgIcon="ge"></mat-icon>
      </button>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
