@import "styles/colors";

@font-face {
  font-family: 'BrittanySignature';
  src: url('../assets/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.page-container {
  display: flex;
  flex-direction: column;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $page-header-bg-color;
    padding: 30px;
    box-sizing: border-box;

    .header-title {
      font-family: 'BrittanySignature', sans-serif;
      color: $page-header-text-color;
      font-size: 24px;
    }

    .translate-buttons {
      display: flex;
      gap: 10px;

      .icon-button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
