<div class="menu-container">
  <div class="menu-section" routerLink="breakfast" [style.background-image]="'url(' + breakfastSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'breakfastSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="salads" [style.background-image]="'url(' + saladsSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'saladsSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="soup" [style.background-image]="'url(' + soupSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'soupSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="dough" [style.background-image]="'url(' + doughSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'doughSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="hot-dishes" [style.background-image]="'url(' + hotDishesSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'hotDishesSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="barbecue" [style.background-image]="'url(' + barbecueSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'barbecueSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="fish" [style.background-image]="'url(' + fishSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'fishSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="drinks" [style.background-image]="'url(' + drinksSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'drinksSection.title' | translate }}
    </span>
  </div>
  <div class="menu-section" routerLink="alcohol" [style.background-image]="'url(' + alcoholSectionBackgroundImage + ')'">
    <span class="section-name">
      {{ 'alcoholSection.title' | translate }}
    </span>
  </div>
</div>
